.btn{
     background-color: var(--blue);
     color: var(--white);
     border-radius: 3rem;
     font-weight: 500;
     padding: 0.6rem 1.5rem;
     border: none;
     font-weight: 600;
     font-size: 1rem;
}
.btn1:hover{
     box-shadow: 3px 3px 10px #5d90dc;
     transition: all 0.3s;
}