.btn{
     background-color: var(--blue);
     color: var(--white);
     padding: 0.6rem 1.5rem;
     border-radius:2rem;
     font-size: 0.9rem;
     cursor: pointer;
     font-weight: 600;
}
.btn:hover{
     box-shadow: 1px 2px 10px #6c9adf;
     transition: all 0.3s;
}
.outlined-btn,.btn{
     display: flex;
     align-items: center;
     justify-content: center;
}
.outlined-btn{
     background-color: var(--black);
     color: var(--white);
     border: 2px solid var(--blue);
     padding: 0.5rem 2.7rem;
     border-radius:2rem;
     font-weight: 600;
     font-size: 0.9rem;

}
.outlined-btn:hover{
     background-color: var(--blue);
     transition: all 0.3s;
}