.loader-container{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100vw;
     color: var(--blue);
     position: absolute;
     height: 90vh;
     background-color: var(--black);
     z-index: 100;
}