.main-Container{
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 3rem;
}
.main-heads{
     display: flex;
     flex-direction: column;
}
.main-images{
     position: relative;
     width: 250px;
}
.img1{
     position: absolute;
     top: 30px;
     right: 0;
     bottom: 10px;
     object-fit: cover;
     width: 250px;
}
.img2{
     border-bottom-right-radius: 1.5rem;
     position: absolute;
     object-fit: cover;
     width: 250px;
     right: 4rem;
}
.crypto-head{
     font-size: 6.5rem;
}
.crypto-head:hover{
     color: var(--black);
     -webkit-text-stroke-color: var(--white);
     -webkit-text-stroke-width: 3px;
     transition: all 0.3s;
}
.realTime-head{
     font-size: 6.5rem;
     color: var(--blue);
}
.main-para{
     color: var(--grey);
     margin: 1rem 0rem;
     margin-bottom: 1.3rem;
}
.btn2{
     background-color: var(--black);
     border: 2px solid var(--blue);
     padding-left: 2.5rem;
     padding-right:2.5rem ;
}
.btn2:hover{
     background-color: var(--blue);
     transition: all 0.3s;
}
.main-buttons{
     display: flex;
     gap: 1.5rem;
}
@media only screen and (max-width:1060px) {
     .crypto-head,.realTime-head{
          font-size: 5rem;
     }
     .img1,.img2{
          width: 200px;
     }
}
@media only screen and (max-width:930px){
     .crypto-head,.realTime-head{
          font-size: 4rem;
     }
     .main-para{
          text-align: left;
          padding-right: 1rem;
     }
     .img1,.img2{
          width: 170px;
     }
}
@media only screen and (max-width:760px){
     .main-Container{
          flex-direction: column;
          align-items: center;
          gap: 5rem;
     }
     .main-heads{
          gap: 0.4rem;
          align-items: center;
     }
     .crypto-head,.realTime-head{
          font-size: 2.5rem;
     }
     .main-para{
          text-align: center;
     }
     .img1,.img2{
          width: 170px;
     }
}