.grid-container{
     background-color: var(--darkgrey);
     height: 285px;
     width: 300px;
     gap: 1rem;
     border-radius: 0.7rem;
     border: 2px solid var(--darkgrey);
     transition: all 0.3s;
}
.grid-link{
     text-decoration: none;
     color: white;
}
.grid-div1{
     display: flex;
     align-items: center;
     gap: 1rem;
     padding: 1.5rem;
}
.logo{
     width: 3.3rem;
     height: 3.3rem;
}
.coin-names>p:first-child{
     text-transform: uppercase;
     font-size: 1.3rem;
     font-weight: 600;
     margin-bottom: 0.2rem;
}
.coin-names>p:last-child{
     text-transform: capitalize;
     color: var(--grey);
     font-size: small;
     font-weight: 500;
}
.chip-flex{
     display: flex;
     align-items: center;
     gap: 1rem;
     padding:0 1.5rem;
}
.chip-flex-p1{
     padding: 0.4rem 0.9rem;
     border: 2px solid var(--green);
     color: var(--green);
     font-weight: 700;
     border-radius:3rem ;
     transition: all 0.3s;
}
.chip-flex-p2{
     border: 2px solid var(--green);
     color: var(--green);
     padding: 0.2rem;
     border-radius: 50%;
     transition: all 0.3s;

}
.price{
     color: var(--green);
     font-size: 1.25rem;
     font-weight:600;
     padding: 1.3rem 2rem;
}
.total-volume{
     color: var(--grey);
     font-size: 0.9rem;
     padding: 0.3rem 1.5rem;
     display: flex;
     flex-direction: column;
     gap: 0.3rem;
}
.red1{
     border-color: var(--red);
     color: var(--red);
}
.red1:hover{
     background-color: var(--red);
     color: var(--white);
}
.green1:hover{
     background-color: var(--green);
     color: var(--white);
}
.red2{
     color: var(--red);
}
.red3:hover{
     border-color:var(--red);
}
.green3:hover{
     border-color: var(--green);
}