
.grid-container{
     width: 320px;
     background-color: var(--darkgrey);
     border: 2px solid var(--darkgrey);
     border-radius: 0.75rem;
     padding: 0.4rem 0rem;
}
.info-flex{
     display: flex;
     align-items: center;
     justify-content: flex-start;
     gap: 1rem;
     margin: 1.5rem;
}
.name-col{
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}
.coin-logo{
     width: 3.5rem;
     height: 3.5rem;
}
.coin-symbol{
     color: var(--white);
     font-weight: 600;
     text-transform: capitalize;
     font-size: 1.2rem;
}
.coin-name{
     color: var(--grey);
     font-weight: light;
     text-transform: capitalize;
     font-size: 0.95rem;
}
.chip-flex{
     display: flex;
     align-items: center;
     justify-content: flex-start;
     gap: 1rem;
     margin: 1.1rem 1.5rem;
}
.chip-price{
     border: 2px solid var(--green);
     border-radius: 2rem;
     padding: 0.5rem 1.5rem;
     min-width: 100px;
     text-align: center;
     font-weight: 600;
     color: var(--green);
     font-size: 0.9rem;
}
.red,.border-red:hover{
     border-color:var(--red) ;
     color: var(--red);
     transition: all 0.3s;

}
.green,.border-green:hover{
     transition: all 0.3s;
     border-color: var(--green) ;
     color: var(--green);

}
.edit{
     border-radius: 50%;
     padding: 0.2rem;
     min-width: 40px;
}
.red:hover{
     background-color: var(--red);
     color: var(--white);
     transition: all 0.3s;
}
.green:hover{
     background-color: var(--green);
     color: var(--white);
     transition: all 0.3s;
}
.coin-price{
     color: var(--green);
     margin: 1.3rem 1.5rem;
}
.red1{
     color: var(--red);
}
.green1{
     color: var(--green);
}
.total-volume{
     display: flex;
     flex-direction: column;
     font-weight: 500;
     font-size: 0.9rem;
     gap: 0.5rem;
     color: var(--grey);
     margin: 1.3rem;
}