@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --black: #000;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}
html{
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  min-width: 100%;
  font-family: "Inter", serif;
  background-color: var(--black);
  color: var(--white);
}
::selection {
  background-color: var(--blue);
  color: var(--white);
}
/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 3rem;
}
a{
  color: var(--white);
  text-decoration: none;
}
.grey-wrapper{
  width: 95%;
  margin: 0.5rem auto;
  border-radius: 1rem;
  background-color: var(--darkgrey);
}
.coins-days-flex{
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  align-items: center;
}